<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Tyggis Nettside</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <div class="logo">
                <li><a href="/"><img src="/static/img/tyggislogopng.png" alt="logo nettside"></a></li>
            </div>
            <div class="ikoner">
                <div class="bilder">
                <li><a href="/handlekurv"><img src="/static/img/handlekurvikon.png" alt="bilde Handlekurv"></a></li>
                <li><a href="/sokedatabase"><img src="/static/img/søkikon.png" alt="bilde søk"></a></li> 
                <li><a href="/kontakt"><img src="/static/img/brukerikon.png" alt="bilde bruker"></a></li>
            </div>
            </div>
            <div class="tyggis">
                <li><a href="/tyggis">Tyggis</a></li> 
            </div>
        </ul>
    </nav>
    {%block content%}{%endblock%} 
</body>
<footer class="footer"> 
    <p class="tekstfooter"> Tyggis nettside </p> 
</footer>
</html>